@import "toc";

code {
  font-family: $mono-font-family;
  font-size: 0.8em;
  line-height: $body-line-height;
}

.hidden {
  display: none;
}

.btn-icon {
  background-color: rgba(0, 0, 0, 0);
  color: $body-text-color;
  align-items: center;
  box-shadow: none;

  .icon {
    color: $body-text-color;
    pointer-events: none;
    align-items: center;
    transform: scale(1);
    transition: all 0.3s;
  }

  &:focus {
    box-shadow: none;
  }

  &:focus:hover,
  &.selected:focus {
    box-shadow: none;
  }

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    background-color: rgba(0, 0, 0, 0);
    .icon {
      color: $link-color;
    }
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    .icon {
      transform: scale(0.6);
      transition: all 0.3s;
    }
  }
}

.js-toc.nav-list .nav-list-item > .nav-list {
  display: block;

  .is-collapsed {
    display: none;
  }
}

.site-title-container {
  display: flex;
  align-items: center;
}

.title-logo {
  width: 30px;
  height: 30px;
}

.title-text {
  color: #87bcd6;
  margin-left: 10px;
}
