@import "toc";

code {
  font-family: $mono-font-family;
  font-size: 0.8em;
  line-height: $body-line-height;
}

.js-toc.nav-list .nav-list-item > .nav-list {
  display: block;

  .is-collapsed {
    display: none;
  }
}

.site-title-container {
  display: flex;
  align-items: center;
}

.title-logo {
  width: 30px;
  height: 30px;
}

.title-text {
  color: #87bcd6;
  margin-left: 10px;
}
