@import "toc";

code {
  font-family: $mono-font-family;
  font-size: 0.8em;
  line-height: $body-line-height;
}

.js-toc.nav-list .nav-list-item > .nav-list {
  display: block;

  .is-collapsed {
    display: none;
  }
}
