$toc-break: 1140px;
$y-offset: 60px;

.content-nav {
  margin: 0 0 2rem;
  padding: 0;
  position: sticky;
  float: right;
  top: 3rem;
  flex: 0 0 25%;
  max-width: 25%;
  max-height: calc(100vh - 2em);
  height: 100%;
  overflow-y: auto;
  font-size: 0.9em;
  line-height: 1.8;
  border-left: 1px solid #f3f3f3;

  @media (max-width: $toc-break) {
    display: none;
  }

  .nav-list-link {
    text-decoration: none;
    padding-right: 1em !important;
    line-height: 1.4rem !important;
  }

  .nav-list .nav-list-item .nav-list-link {
    min-height: 1.8rem;
  }

  ol {
    margin-top: 0;
  }

  ul {
    margin: 0;
    padding-left: 15px;
    list-style: none none;

    li::before {
      display: none;
    }

    @media (max-width: $toc-break) {
      display: block;

      li {
        float: none;
      }
    }

    ul {
      border-left: none;
    }
  }
}

hr {
  max-width: 71.5%;
}

@media (max-width: 1140px) {
  hr {
    max-width: 100%;
  }
}

.content-container {
  max-width: 71.5%;

  @media (max-width: $toc-break) {
    max-width: 100%
  }
}

.content-container > hr {
  max-width: 100%;
}