<link as="style" href="{{ '/assets/css/just-the-docs-dark.css' | relative_url }}" rel="preload"/>

<!-- Intentionally duplicates the default theme stylesheet so there's a fallback when changing themes -->
<link href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}" id="jtdThemeCSS" rel="stylesheet">

<script>
    /* Script to enable persistent dark mode. */

    jtd.getTheme = function () {
        const cssFileHref = (document.getElementById('jtdThemeCSS') || document.querySelector('[rel="stylesheet"]')).getAttribute('href');
        return cssFileHref.substring(cssFileHref.lastIndexOf('-') + 1, cssFileHref.length - 4);
    }

    jtd.setTheme = function (theme) {
        const cssFile = document.getElementById('jtdThemeCSS') || document.querySelector('[rel="stylesheet"]');
        cssFile.setAttribute('href', cssFile.getAttribute('href').replace(jtd.getTheme(), theme));
    }

    let toggleDark = () => {
        let setDark = jtd.getTheme() !== 'dark';
        jtd.setTheme(setDark ? 'dark' : 'default');
        localStorage.setItem('darkMode', String(setDark));
    };

    /* Read local storage state. */
    if (localStorage.getItem('darkMode') === 'true') {
        toggleDark();
    }
</script>

{% assign math = page.math | default: layout.math | default: site.math %}

{% case math %}
{% when "katex" %}
{% include katex.html %}
{% when "mathjax" %}
{% include mathjax.html %}
{% endcase %}